@import "tailwindcss";

html,
body {
  background-color: #0047FF;
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #FACC15;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #EAB308;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #FACC15 #0047FF;
}